In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv("/content/Islander_data.csv")

In [5]:
dataset.head()

  first_name last_name  age  ... Mem_Score_Before  Mem_Score_After Diff
0    Bastian  Carrasco   25  ...             63.5             61.2 -2.3
1       Evan  Carrasco   52  ...             41.6             40.7 -0.9
2  Florencia  Carrasco   29  ...             59.7             55.1 -4.6
3      Holly  Carrasco   50  ...             51.7             51.2 -0.5
4     Justin  Carrasco   52  ...             47.0             47.1  0.1

[5 rows x 9 columns]

In [4]:
dataset.apply(lambda x: sum (x.isnull ()), axis = 0)

first_name          0
last_name           0
age                 0
Happy_Sad_group     0
Dosage              0
Drug                0
Mem_Score_Before    0
Mem_Score_After     0
Diff                0
dtype: int64

In [6]:
dataset.describe()

              age      Dosage  Mem_Score_Before  Mem_Score_After        Diff
count  198.000000  198.000000        198.000000       198.000000  198.000000
mean    39.530303    1.989899         57.967677        60.922222    2.954545
std     12.023099    0.818504         15.766007        18.133851   10.754603
min     24.000000    1.000000         27.200000        27.100000  -40.400000
25%     30.000000    1.000000         46.525000        47.175000   -3.175000
50%     37.000000    2.000000         54.800000        56.750000    1.700000
75%     48.000000    3.000000         68.400000        73.250000    5.925000
max     83.000000    3.000000        110.000000       120.000000   49.000000